body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
}

.container {
  margin: 20px auto;
  width: 800px;
}

h1 {
  font-weight: normal;
  font-size: 30px;
  line-height: 40px;
  padding-left: 70px;
  background: transparent url('./icon.png') left top no-repeat;
  background-size: 60px 60px;
}

h2 {
  color: #999;
  font-weight: 300;
  font-size: 20px;
  padding-left: 50px;
}
