.pricing {
  margin-top: 60px;
  text-align: center;
}

.pricing__item {
  box-sizing: border-box;
  padding: 40px 48px 32px;
  border-radius: 6px;
  max-width: 100%;
  margin: 40px auto 0;
  text-align: left;
  transition: box-shadow 0.2s;
  background-color: white;

  &:hover {
    background-color: #fefefe;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.pricing__reviews {
  margin: 20px auto 40px;
}

.pricing__reviews,
.pricing__item {
  width: 350px;
  border: 1px solid #ddd;
}

.pricing__amount {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.pricing__type,
.pricing__note {
  text-align: center;
  color: rgb(107, 114, 128);
}

.pricing__type {
  font-weight: 500;
  margin-bottom: 32px;
  font-size: 16px;
}

.pricing__note {
  font-size: 14px;
}

.pricing__details {
  list-style: none;
  padding: 0;

  li {
    line-height: 1.2;
    min-height: 28px;
    margin-bottom: 4px;
    background: transparent url(./assets/ok.svg) left top no-repeat;
    background-size: 20px 20px;
    padding-left: 24px;
  }
}

.pricing__button {
  appearance: none;
  -webkit-appearance: none;
  background-color: rgb(225, 29, 72);
  color: white;
  border: 0;
  border-radius: 8px;
  padding: 10px;
  display: block;
  width: 100%;
  margin: 32px 0 8px;
  transition: opacity 0.2s;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.question {
  line-height: 1.6;
  margin-bottom: 60px;

  h3 {
    margin-bottom: -8px;
  }
}
