<footer class="container footer">
  <nav>
    <a href="./privacy-policy.html">Privacy Policy</a>
    <a href="./terms.html">Terms</a>
    <a href="./partners.html">Partners</a>
    <a href="https://github.com/medisapp/medisapp.github.io/issues">Feature Requests</a>
    <a href="https://github.com/luin/medis">Medis 1</a>
  </nav>
  <p class="copyright-statement">Redis is a trademark of Redis Ltd. Any rights therein are reserved to Redis Ltd. Any use by Medis app is for referential purposes only and does not indicate any sponsorship, endorsement or affiliation between Redis and Medis app</p>
</footer>
