<script>
  if (typeof navigator.language === "string") {
    var language = navigator.language.toLowerCase();
    if (language.indexOf("zh-cn") !== -1) {
      document.body.classList.add("zh-cn");
    }
  }
</script>
<header class="container main-header">
  <a href="/" class="logo">
    <img src="./icon.png" alt="Medis Logo" />
    <h2 class="logo__name">Medis 2</h2>
  </a>
  <nav>
    <a href="/pricing.html">Pricing</a>
    <a href="https://docs.getmedis.com/">Documentation</a>
    <a href="https://twitter.com/medisclient"
      ><img width="24" height="24" src="./assets/twitter.svg" alt="Twitter"
    /></a>
  </nav>
</header>
