<section class="testimonial-container">
  <div class="testimonial-title">Hear from our happy users</div>
  <div class="testimonial-wrapper">
    <div class="testimonial">
      <div class="testimonial-item">
        <div class="testimonial-item-author">Edumqr</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">I've been using Medis for some months now, honestly one of the best GUI
          for
          Redis imo, easy to use, lightweight and gets the work done.</div>
        <div class="testimonial-item-country">🇺🇸 United States</div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-item-author">emiremiroglu</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">I have been looking for this for years! I will buy a license.</div>
        <div class="testimonial-item-country">🇹🇷 Türkiye</div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-item-author">Ross McK</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">This is an incredible application and the developers' support has been
          second to none fixing minor issues promptly. Use it every day
          and it's completely revolutionized how I work with Redis.</div>
        <div class="testimonial-item-country">🇬🇧 United Kingdom</div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-item-author">mctoastman</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">Really enjoying the native UI when interacting directly with redis during
          development. Sort of like Postico but for redis.</div>
        <div class="testimonial-item-country">🇺🇸 United States</div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-item-author">The new87</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">很好用！感谢作者开发这么好用的客户端，很小巧实用！</div>
        <div class="testimonial-item-country">🇨🇳 China</div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-item-author">Dale Jefferson</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">I had an issue with Upstash support and the developer fixed the issue
          within
          a day. Great product, great support.</div>
        <div class="testimonial-item-country">🇬🇧 United Kingdom</div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-item-author">Jerry</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">UI 깔끔하고 좋아요 JSON까지 이쁘게 보여주면 더 좋을듯요!</div>
        <div class="testimonial-item-country">🇰🇷 Korea</div>
      </div>
      <div class="testimonial-item">
        <div class="testimonial-item-author">Daniel S Lee</div>
        <div class="testimonial-item-star"></div>
        <div class="testimonial-item-content">Really happy with this Redis client! This is one of the few Redis client
          that actually worked for me without having me scratching my head for hours.</div>
        <div class="testimonial-item-country">🇺🇸 United States</div>
      </div>
    </div>
  </div>
</section>